@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #020c1b;
  overflow-x: hidden;
}

html {
  font-size: 80%;
}
